.maincontainer
  .stepcontainer
    .homeslider
      .container.mobileheadgradient
        %nav.navbar.container_nav
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand.logo_center{href: "#"}
              = image_tag "new_logo.png"
      %p.heading_class Choose where your power comes from
      %p.sub_title
        Lorem Ipsum is simply dummy text of the printing
        and typesetting industry.
      .button-8.next.next_1
        .eff-8
        %a{href: ""} Home Efficiency Calculator
      .bird-container.bird-container--one
        .bird.bird--one
      .bird-container.bird-container--two
        .bird.bird--two
      .bird-container.bird-container--three
        .bird.bird--three
      .bird-container.bird-container--four
        .bird.bird--four
  %div
    .container.stepsheader
      %nav.navbar.container_nav
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"}
            = image_tag "logo1.png", class: "logo_img"
        %p.circal_img
          = image_tag "circal.png"
    .wrapper
      = form_with(model: Lead.new, local: true, class: 'form-horizontal width100per', id: 'lead-form') do |form|
        #wizard
          / SECTION 1
          %h4
          %section.stepswrapper
            .inner
              .locationdiv
                = image_tag "location.png"
                %h2 What is your address?
              .londonform
                .col-md-7.londondiv.col-md-offset-1 
                  .col-md-12.nopadd
                    .form-group
                      = form.text_field :address,{ id: "pac-input",class: 'form-control width100per', placeholder: "Enter your address", type: "text"}

                    - #.label Street address
                    .slimField
                      %input#street_number.field{disabled: "true", type: "hidden"}>/
                    .wideField
                      %input#route.field{disabled: "true", type: "hidden"}>/

                  .col-md-6
                    .form-group
                      = form.text_field :city,{ id: "locality", type: "text", class: 'form-control', placeholder: "City"}

                  .col-md-6
                    .form-group
                      .slimField
                        = form.text_field :state,{ id: "administrative_area_level_1", type: "text", class: 'form-control',placeholder: "State"}

                  .col-md-6
                    .form-group
                      .wideField
                        = form.text_field :zipcode,{ id: "postal_code", type: "text", class: 'form-control', placeholder: "Zip Code"}
                        %span.inline_error
                          -#= @lead.errors[:zipcode].join(', ')

                  .col-md-6
                    .form-group
                      .wideField
                        = form.text_field :country,{ id: "country", type: "text", class: 'form-control', placeholder: "Country"}

                .col-md-4.mapdiv
                  #map
                  #infowindow-content
                    %img#place-icon{height: "16", width: "16"}/
                    %span#place-name.title
                    %br/
                    %span#place-address                  
              .pre_next
          / SECTION 2
          %h4
          %section.stepswrapper
            .inner
              .locationdiv
                = image_tag "home.png"
                %h2 Age of Home
              .container.londonform.less_more
                .btn-group.btn-group-toggle{"data-toggle" => "buttons"}

                  %label.btn.btnholderyellow
                    %input#option1{autocomplete: "off", checked: "checked", value: "Less than 10 years old", name: "lead[age_of_home]", type: "radio", id: "lead_age_of_home"}/
                    Less than 10 years old

                  %label.btn.btnholderyellow
                    %input#option2{autocomplete: "off", name: "lead[age_of_home]", value: "Odler than 10 years", type: "radio", id: "lead_age_of_home"}/
                    Odler than 10 years
          / SECTION 3
          %h4
          %section
            .inner
              .locationdiv
                = image_tag "provider.png"           
                %h2 Electricity Provider
              .container.londonform.step_3list
                .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                  - ElectricityProvider.all.each do |electricity_provider|
                    %label.btn.btnholderyellow
                      %input#option2{autocomplete: "off", name: "lead[electricity_provider_id]", value: "#{electricity_provider.id}", type: "radio", id: "lead_electricity_provider_id"}/
                      = electricity_provider.name
          / SECTION 4
          %h4
          %section
            .inner
              .location_div
                = image_tag "average.png"
                %h2 Average Monthly Utility Bill
              .container.london_form
                .rangebar_div
                  %span.dolar_div $
                  %output{style: "text-align: center;"} 50
                  %br/
                  %br/
                  = form.text_field :current_monthly_electricity_bill,{ id: "myRange", class:"", max: "500", min: "0", type: "range", value: "50"}
                  %span.starno $0
                  %span.endno $500

          / SECTION 5
          %h4
          %section
            .inner
              .location_div
                = image_tag "age.png"
                %h2 Age of appliances
              .container.london_form.less_more.button_width

                .btn-group.btn-group-toggle{"data-toggle" => "buttons"}

                  %label.btn.btnholderyellow
                    %input#option1{autocomplete: "off", checked: "checked", value: "New", name: "lead[average_age_of_appliances]", type: "radio", id: "lead_average_age_of_appliances"}/
                    New

                  %label.btn.btnholderyellow
                    %input#option2{autocomplete: "off", checked: "checked", value: "Old", name: "lead[average_age_of_appliances]", type: "radio", id: "lead_average_age_of_appliances"}/
                    Old

                  %label.btn.btnholderyellow
                    %input#option3{autocomplete: "off", checked: "checked", value: "Not Sure", name: "lead[average_age_of_appliances]", type: "radio", id: "lead_average_age_of_appliances"}/
                    Not Sure

          / SECTION 6
          %h4
          %section
            .inner
              .location_div
                = image_tag "home_lock.png"
                %h2.thermostat_new Do you have a new thermostat?
              .container.london_form.less_more.button_width
                .btn-group.btn-group-toggle{"data-toggle" => "buttons"}

                  %label.btn.btnholderyellow
                    = form.label :new_thermostat, "Yes", :value => "true"
                    = form.radio_button :new_thermostat, true, :checked => true, id: 'option1'

                  %label.btn.btnholderyellow
                    = form.label :new_thermostat, "No", :value => "false"
                    = form.radio_button :new_thermostat, false, id: 'option2'

          / SECTION 7
          %h4
          %section
            .inner
              .location_div
                %img{src: "image/roof.png"}/
                %h2 Age of Roof
              .container.london_form.less_more.button_width
                .btn-group.btn-group-toggle{"data-toggle" => "buttons"}

                  %label.btn.btnholderyellow
                    #option1
                      = form.label :age_of_roof, "Less than 10"
                      = form.radio_button :age_of_roof, "Less than 10"

                  %label.btn.btnholderyellow
                    #option2
                      = form.label :age_of_roof, "More than 10"
                      = form.radio_button :age_of_roof, "More than 10"

      .stepnum
        %span#step-number 1
        \/28
/ Template created and distributed by Colorlib
:javascript
  $(document).ready(function(){
   // $('.next_1').click(function(){
      $("div").removeClass("last_active_step");
      $(this).parent('div').addClass("last_active_step");
      $('.homeslider').css("transform", "translate3d(0px, -100vh, 0px)");
      $('.stepcontainer').css("height", "0px");
      $('.mobileheadgradient').css("display", "none");
      setTimeout(function(){
        $('.sub_title').css("display", "none");
        $('.heading_class').css("display", "none");
        $('.bird-container').css("display", "none");
      }, 10);
   // });


    $('.circal_img').click(function(){
      $("div").addClass("last_active_step");
      $(this).parent('div').removeClass("last_active_step");
      $('.homeslider').css("transform", "translate3d(0px, 0vh, 0px)");
      $('.stepcontainer').css("height", "inherit");
      $('.mobileheadgradient').css("display", "block");
      $('.sub_title').css("display", "block");
      $('.heading_class').css("display", "block");
      $('.bird-container').css("display", "block");
    });
  });
